/*
	THEME COLORS
*/

$main-color: #343c44;
$main-color-rgba-70: rgba(52,60,68,0.7);

$main-color-lighter: #5C6369;
$main-color-lightest: #858A8E;
$main-color-lightestest: #ADB1B4;

$main-color-darker: #1F2428;

$new: #c2e7da;

$new2: #A09EBB;
$new-2-rgba-90: rgba(160, 158, 187, 0.9);




